<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Esener_The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [1]:
# write your answer here
def str_len(str):
    count = 0
    for char in str:
        count += 1
    return count
print(str_len('This is Yildiz Esener'))

21

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
# write your answer here
def charfreq(str):
    dict = {}
    for n in str:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(charfreq('This is Yildiz Esener'))

{'T': 1, 'h': 1, 'i': 4, 's': 3, ' ': 3, 'Y': 1, 'l': 1, 'd': 1, 'z': 1, 'E': 1, 'e': 2, 'n': 1, 'r': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [3]:
# write your answer here
def sumlist(items):
    sum = 0
    for x in items:
        sum += x
    return sum
print(sumlist([4,5,9]))

18

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [4]:
# write your answer here
def changechar(str):
  char = str[0]
  str = str.replace(char, 'y')
  str = char + str[1:]

  return str

print(changechar('esener'))

esynyr

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [5]:
# write your answer here

def solution(n1, n2):
    
    return 3.14*(1+(n1/n2))**3

In [6]:
solution(n1=3, n2=4)

16.8284375

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [7]:
# write your answer here   
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dicnewone = {}
for d in (dic1, dic2, dic3): dicnewone.update(d)
print(dicnewone)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [8]:
# write your answer here
tuplex = ("y", "i", "l", "e", "s", "e", "n", "e", "r", 1,9,8,8)
print("s" in tuplex)
print(0 in tuplex)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [9]:
# write your answer here

set = set([90, 11, 76, 12, 29, 40])
print(max(set))
print(min(set))

90
11

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [10]:
def randomize(l):
    from numpy import random
    t = len(l)

    groups = [[] for i in range(5)]
    for s in l:
        i = random.randint(0,5)
        if len(groups[i]) < 3:
            groups[i].append(s)
        elif len(groups[2*i//5]) < 5:
            groups[2*i//5].append(s)
        else:
            pass

    for g in groups:
        if (len(g) >=3 ) & (len(g) <= 5):
            pass
        else:
            randomize(l)

    return groups

In [11]:
randomize( ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091'])

[['snd0097', 'yye0005', 'rak0120', 'nm0547', 'pn0159'],
 ['vl0135', 'rs0850', 'at0739', 'mv0299', 'dy0091'],
 ['vmb0067', 'ds0761', 'ss1995'],
 ['sg0940', 'bk0301', 'rrk0058'],
 ['pc0353', 'spk0057', 'msp0174']]