<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second In-class-exercise (9/9/2020, 20 points in total)**

(1) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [1]:
# write your answer here
def duplicate_finder(arr):
    from numpy import array, ndarray
    from pandas import Series
    
    if isinstance(arr, ndarray):
        pass
    else:
        arr = array(arr)
        
    arr = Series(arr)
    return arr[arr.duplicated()].values

In [2]:
arr = [1, 5, 7, 2, 6, 2, 3, 4, 7, 9, 1, 1]
duplicate_finder(arr)

array([2, 7, 1, 1])

(2) Write a Python program to select all the Sundays of a specified year. (4 points)

In [3]:
# write your answer here
def all_sundays(year):
    from datetime import datetime, timedelta
    d = datetime(year, month=1, day=1)
    sundays = []
    
    print('First day of the year:', d.strftime('%A'))
    
    if d.weekday() == 6:
        sundays.append(d.strftime('%y-%m-%d'))
    else:
        d += timedelta(days=6 - d.weekday())
        sundays.append(d.strftime('%y-%m-%d'))
    
    while d.year == year:
        d += timedelta(days=7)
        sundays.append(d.strftime('%y-%m-%d'))
    
    return sundays

In [4]:
all_sundays(2020)

First day of the year: Wednesday

['20-01-05',
 '20-01-12',
 '20-01-19',
 '20-01-26',
 '20-02-02',
 '20-02-09',
 '20-02-16',
 '20-02-23',
 '20-03-01',
 '20-03-08',
 '20-03-15',
 '20-03-22',
 '20-03-29',
 '20-04-05',
 '20-04-12',
 '20-04-19',
 '20-04-26',
 '20-05-03',
 '20-05-10',
 '20-05-17',
 '20-05-24',
 '20-05-31',
 '20-06-07',
 '20-06-14',
 '20-06-21',
 '20-06-28',
 '20-07-05',
 '20-07-12',
 '20-07-19',
 '20-07-26',
 '20-08-02',
 '20-08-09',
 '20-08-16',
 '20-08-23',
 '20-08-30',
 '20-09-06',
 '20-09-13',
 '20-09-20',
 '20-09-27',
 '20-10-04',
 '20-10-11',
 '20-10-18',
 '20-10-25',
 '20-11-01',
 '20-11-08',
 '20-11-15',
 '20-11-22',
 '20-11-29',
 '20-12-06',
 '20-12-13',
 '20-12-20',
 '20-12-27',
 '21-01-03']

(3) Python files reading and writing. Download the “[exercise_02_data _collection.zip](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/exercise_02_data_collection.zip)” to your local and un-zip it.

*   Write a program to read all the txt files and save the sentences in all the files into one csv file with two columns, the first column is sentence id (txt file name+sentence line number), the second column is the sentence text content. (4 points)
*   Remove all the punctuations from the sentences, save the processed sentences into a new column in the same csv file. (4 points)
*   Ask the user to enter a word, return all the sentences that include this word, three kinds of information should be returned: sentence id, sentence text content, the count that user input word appear in the sentence. (4 points)

In [5]:
# part a
def read_files(path):
    import os, glob
    import pandas as pd

    df = pd.DataFrame(columns=['text_file', 'line'])
    
    for filename in glob.glob(os.path.join(path, '*.txt')):
        file = os.path.basename(filename)
        with open(filename, 'r') as f:
            Lines = f.readlines()
            # Strips the newline character 
            for idx, line in enumerate(Lines):
                first_column = str(file)+str(idx)
                second_column = line.strip()
                df = df.append({'text_file' : first_column,
                           'line' : second_column}, ignore_index=True)
    return df

In [6]:
df = read_files('exercise_02_data_collection')

In [7]:
df

             text_file                                               line
0     ARTHROTEC.1.txt0  I feel a bit drowsy & have a little blurred vi...
1     ARTHROTEC.1.txt1  I've been on Arthrotec 50 for over 10 years on...
2     ARTHROTEC.1.txt2  Due to my arthritis getting progressively wors...
3     ARTHROTEC.1.txt3  every day for the next month to see how I get ...
4     ARTHROTEC.1.txt4  So far its been very good, pains almost gone, ...
..                 ...                                                ...
530  ARTHROTEC.99.txt1                         almost to faint to notice.
531  ARTHROTEC.99.txt2  However, I also get diarrhoea at least twice a...
532  ARTHROTEC.99.txt3  There are no gas pains and no other symptoms, ...
533  ARTHROTEC.99.txt4  When I am on holiday at the coast I am pain fr...
534  ARTHROTEC.99.txt5                        It also allows me to sleep.

[535 rows x 2 columns]

In [8]:
from string import punctuation
no_punctuation = []
for idx, line in enumerate(df['line'].values):
    no_punctuation.append("".join([word for word in line if word not in punctuation]))
df['no_punctuation'] = no_punctuation

In [9]:
df

,text_file,line,no_punctuation
0,ARTHROTEC.1.txt0,I feel a bit drowsy & have a little blurred vi...,I feel a bit drowsy have a little blurred vis...
1,ARTHROTEC.1.txt1,I've been on Arthrotec 50 for over 10 years on...,Ive been on Arthrotec 50 for over 10 years on ...
2,ARTHROTEC.1.txt2,Due to my arthritis getting progressively wors...,Due to my arthritis getting progressively wors...
3,ARTHROTEC.1.txt3,every day for the next month to see how I get ...,every day for the next month to see how I get ...
4,ARTHROTEC.1.txt4,"So far its been very good, pains almost gone, ...",So far its been very good pains almost gone bu...
...,...,...,...
530,ARTHROTEC.99.txt1,almost to faint to notice.,almost to faint to notice
531,ARTHROTEC.99.txt2,"However, I also get diarrhoea at least twice a...",However I also get diarrhoea at least twice a day
532,ARTHROTEC.99.txt3,"There are no gas pains and no other symptoms, ...",There are no gas pains and no other symptoms s...
533,ARTHROTEC.99.txt4,When I am on holiday at the coast I am pain fr...,When I am on holiday at the coast I am pain fr...
534,ARTHROTEC.99.txt5,It also allows me to sleep.,It also allows me to sleep

In [10]:
# part 3
def retreive_sentence():
    import pandas as pd
    import nltk
    pattern = input('Please enter a word: ')
    
    id_ = []
    sentences = []
    for idx, line in enumerate(df['line'].values):
        words = nltk.word_tokenize(line)
        if pattern in words:
            sentences.append(line)
            id_.append(idx)
    
    
    counts = []
    count = 0
    for sentence in sentences:
        for word in nltk.word_tokenize(sentence):
            if word == pattern:
                count += 1
        counts.append(count)
        count = 0
    
    return pd.DataFrame({'sentence_id' : id_,
                         'sentence_content' : sentences,
                         'counts' : counts})

In [11]:
df_pattern = retreive_sentence()

Please enter a word: have

In [12]:
df_pattern

    sentence_id                                   sentence_content  counts
0             0  I feel a bit drowsy & have a little blurred vi...       1
1             2  Due to my arthritis getting progressively wors...       1
2             4  So far its been very good, pains almost gone, ...       1
3             6  Brilliant, I have a new lease of life, i walk ...       1
4            12           been off for 1 week still have bleeding.       1
..          ...                                                ...     ...
66          449  I would not recommend this drug to anyone, esp...       1
67          477  My urine is bloody, I have got canker sores th...       1
68          485  vomitting - I have to fight to not throw up I ...       1
69          486  I have tried and tried to take the day dose - ...       1
70          526  Some of the side effects haven't totally disap...       1

[71 rows x 3 columns]

(4) Install packages nltk, numpy, scipy, pandas, and sklearn on Google Colab. Write a program to test whether they are installed successfully. (3 points for extra)

In [13]:
# write your answer here