<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [1]:
# Your code here
from numpy import random, array
random.seed(0)

numbers = list(random.randint(1,100,12))
print('12 random numbers between 1 and 100: ', numbers)

12 random numbers between 1 and 100:  [45, 48, 65, 68, 68, 10, 84, 22, 37, 88, 71, 89]

In [2]:
print('Numbers sorted ascending: ', sorted(numbers))
print('Numbers sorted descending: ', sorted(numbers, reverse=True))
print('Mean: ', array(numbers).mean())

Numbers sorted ascending:  [10, 22, 37, 45, 48, 65, 68, 68, 71, 84, 88, 89]
Numbers sorted descending:  [89, 88, 84, 71, 68, 68, 65, 48, 45, 37, 22, 10]
Mean:  57.916666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [3]:
# Your code here

def sentence():
    import nltk
    from string import punctuation
    nltk.download('punkt')
    
    a = input('Please enter the first sentence: ')
    print()
    b = input('Please enter the second sentence: ')
    print()
    print()
    
    list_a = nltk.word_tokenize(a)
    list_b = nltk.word_tokenize(b)
    print('Elements in the first sentence: ', list_a)
    print('Elements in the second sentence: ', list_b)
    print()
    
    common_words = [word for word in list_a if word in list_b]
    print('Common words in both sentences: ', common_words)
    print()

    print('First sentence without punctuation: ', " ".join([word for word in list_a if word not in punctuation]))
    print('Second sentence without punctuation: ', " ".join([word for word in list_b if word not in punctuation]))
    print()
    
    vowels = 'aeiou'
    s1 = a.casefold() 
    s2 = b.casefold()  
    count1 = {}.fromkeys(vowels, 0)
    count2 = {}.fromkeys(vowels, 0) 
    for char in s1: 
        if char in count1: 
            count1[char] += 1
    for char in s2: 
        if char in count2: 
            count2[char] += 1
    print('Vowels in the first sentence: ', count1)
    print('Vowels in the second sentence: ', count2)

In [4]:
sentence()

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/yildizesener/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

Please enter the first sentence: This is Yildiz

Please enter the second sentence: I am Yildiz Esener


Elements in the first sentence:  ['This', 'is', 'Yildiz']
Elements in the second sentence:  ['I', 'am', 'Yildiz', 'Esener']

Common words in both sentences:  ['Yildiz']

First sentence without punctuation:  This is Yildiz
Second sentence without punctuation:  I am Yildiz Esener

Vowels in the first sentence:  {'a': 0, 'e': 0, 'i': 4, 'o': 0, 'u': 0}
Vowels in the second sentence:  {'a': 1, 'e': 3, 'i': 3, 'o': 0, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [7]:
# Your code here
from numpy import arange

def volume(r_values = arange(1, 11)):
    from math import pi
    from pandas import DataFrame
       
    return DataFrame({'r': r_values, 'V': [(4/3)*pi*(x**3) for x in r_values]})

In [8]:
volume()

    r            V
0   1     4.188790
1   2    33.510322
2   3   113.097336
3   4   268.082573
4   5   523.598776
5   6   904.778684
6   7  1436.755040
7   8  2144.660585
8   9  3053.628059
9  10  4188.790205

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant and occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the value and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [9]:
# Your code here
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/unt-iialab/INFO5731_FALL2020/master/Assignments/Assignment1_denton_housing.csv')

In [10]:
df.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [11]:
df.tail()

    year        title_field  value
37  2012  Median Gross Rent    842
38  2011  Median Gross Rent    821
39  2010  Median Gross Rent    780
40  2009  Median Gross Rent    769
41  2008  Median Gross Rent    768

## Part A

In [12]:
import numpy as np

In [13]:
df_occupied = df[df['title_field'] == 'Occupied Housing Units'].reset_index(drop=True)

In [14]:
df_occupied.sort_values('year', inplace=True)

In [15]:
df_occupied

   year             title_field  value
6  2008  Occupied Housing Units  36711
5  2009  Occupied Housing Units  35916
4  2010  Occupied Housing Units  41007
3  2011  Occupied Housing Units  40704
2  2012  Occupied Housing Units  42108
1  2013  Occupied Housing Units  43673
0  2014  Occupied Housing Units  46295

In [16]:
df_occupied['difference'] = df_occupied['value'].diff()

In [17]:
df_occupied

   year             title_field  value  difference
6  2008  Occupied Housing Units  36711         NaN
5  2009  Occupied Housing Units  35916      -795.0
4  2010  Occupied Housing Units  41007      5091.0
3  2011  Occupied Housing Units  40704      -303.0
2  2012  Occupied Housing Units  42108      1404.0
1  2013  Occupied Housing Units  43673      1565.0
0  2014  Occupied Housing Units  46295      2622.0

In [18]:
print(df_occupied['difference'].sort_values(ascending=False).reset_index(drop=True))

0    5091.0
1    2622.0
2    1565.0
3    1404.0
4    -303.0
5    -795.0
6       NaN
Name: difference, dtype: float64

## Part B

In [19]:
years = df['year'].values

In [20]:
years = np.unique(years)

In [21]:
years

array([2008, 2009, 2010, 2011, 2012, 2013, 2014])

In [22]:
df_percent = pd.DataFrame({'year': [x for x in years],
                           'total': [df['value'][(df['year'] == x) & (df['title_field'] == 'Total Housing Units')].values[0] for x in years],
                           'occupied': [df['value'][(df['year'] == x) & (df['title_field'] == 'Occupied Housing Units')].values[0] for x in years],
                           'vacant': [df['value'][(df['year'] == x) & (df['title_field'] == 'Vacant Housing Units')].values[0] for x in years]})

In [23]:
df_percent['occ_perc'] = round((df_percent['occupied']/df_percent['total'])*100,2)

In [24]:
df_percent['vac_perc'] = round((df_percent['vacant']/df_percent['total'])*100,2)

In [25]:
df_percent

   year  total  occupied  vacant  occ_perc  vac_perc
0  2008  41194     36711    4483     89.12     10.88
1  2009  39499     35916    3583     90.93      9.07
2  2010  44642     41007    3635     91.86      8.14
3  2011  44917     40704    4213     90.62      9.38
4  2012  45121     42108    3013     93.32      6.68
5  2013  47888     43673    4215     91.20      8.80
6  2014  49109     46295    2814     94.27      5.73

In [26]:
print(df_percent[['year', 'occ_perc', 'vac_perc']])

   year  occ_perc  vac_perc
0  2008     89.12     10.88
1  2009     90.93      9.07
2  2010     91.86      8.14
3  2011     90.62      9.38
4  2012     93.32      6.68
5  2013     91.20      8.80
6  2014     94.27      5.73

In [27]:
df_percent['occ_perc'] = [str(x) + '%' for x in df_percent['occ_perc']]
df_percent['vac_perc'] = [str(x) + '%' for x in df_percent['vac_perc']]

In [28]:
df_percent

   year  total  occupied  vacant occ_perc vac_perc
0  2008  41194     36711    4483   89.12%   10.88%
1  2009  39499     35916    3583   90.93%    9.07%
2  2010  44642     41007    3635   91.86%    8.14%
3  2011  44917     40704    4213   90.62%    9.38%
4  2012  45121     42108    3013   93.32%    6.68%
5  2013  47888     43673    4215    91.2%     8.8%
6  2014  49109     46295    2814   94.27%    5.73%

In [29]:
print(df_percent[['year', 'occ_perc', 'vac_perc']])

   year occ_perc vac_perc
0  2008   89.12%   10.88%
1  2009   90.93%    9.07%
2  2010   91.86%    8.14%
3  2011   90.62%    9.38%
4  2012   93.32%    6.68%
5  2013    91.2%     8.8%
6  2014   94.27%    5.73%

## Part C

In [30]:
vacant_max = df['value'][df['title_field'] == 'Vacant Housing Units'].values.max()
occupied_max = df['value'][df['title_field'] == 'Occupied Housing Units'].values.max()

In [31]:
print('\t'*2, '\tYear', '\tValue')
print('Vacant Housing Units\t', df['year'][(df['title_field'] == 'Vacant Housing Units') & (df['value'] == vacant_max)].values[0], '\t'+str(vacant_max))
print('Occupied Housing Units\t', df['year'][(df['title_field'] == 'Occupied Housing Units') & (df['value'] == occupied_max)].values[0], '\t'+str(occupied_max))

		 	Year 	Value
Vacant Housing Units	 2008 	4483
Occupied Housing Units	 2014 	46295

## Part D

In [32]:
def harmonic_mean(x):
    n = len(x)
    sum = 0
    for i in x:
        sum += 1/i
    return n/sum

In [33]:
print('Harmonic Mean of Total Housing Units:', 
      harmonic_mean(df['value'][df['title_field'] == 'Total Housing Units'].values))

Harmonic Mean of Total Housing Units: 44398.28543969185